.abouts {
    /* position: absolute; */
    /* justify-content: center; */
    margin: auto auto;
    max-width: 880px;
}

.about {
    /* position: absolute; */
    /* padding-top: 2rem; */
    text-align: center;

    line-height: 1.6;
    color: black;
    max-width: 880px;
}

.about h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: #333;
    /* text-align: center; */
}

.about h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: #4a90e2;
    margin: 0.3rem auto 1.5rem;
    border-radius: 3px;
}

.about-cards {
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    /* justify-content: space-around; */
    /* gap: 1rem; */
}

.about-card{
    border: white solid 2px;
    border-radius: 10px;
    /* padding: 1.5rem; */
    height: 300px;
    width: 100%; 
    
}

.about-content {
    max-width: 600px;
    margin: 1.5rem auto; /* center the content */
    /* border: #333 solid 1px; */
    border-radius: 10px;
}

.about p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 1rem;

}