.intro-content {

    margin: 0 auto;/* horizontally center */
    display: flex;       /* for image + text side by side */
    gap: 2rem;           /* optional spacing between columns */
    align-items: center; /* vertically align image + text */
    padding-top: 6rem;    
}

.intro-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.about-card img {
    width: 100%; /* full width image on mobile */
    height: 100%; /* maintain aspect ratio */
    padding: 0;
    margin: 0;
    object-fit: cover;
}

.intro-text {
    text-align: center; 
    color: #333; /* dark text for readability */
    margin-bottom: 1rem;
}


.intro a{
    margin-top: 2rem;
    border: #333 solid 2px;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}



@media (max-width: 1024px) and (min-width: 601px) {
    .intro {
        flex-direction: column; /* stack items vertically */
        align-items: center; /* center items */
    }
    
    .intro-image img {
        width: 200px; /* smaller image on tablet */
        height: 200px;
    }

    .about {
        max-width: 600px; /* adjust width for tablet */
    }
}

@media (max-width: 600px) {

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        width: 100%; /* full width on mobile */
        gap: 0.5rem; /* smaller gap on mobile */

    }
    
    .intro-text {
        text-align: center; /* center text on smaller screens */
        
    }

    .intro-text h1{
        font-size: 2.3rem; 
        /* smaller heading on mobile */
    }

    
    .intro-image img {
        width: 200px; /* smaller image on mobile */
        height: 200px;
    }

    .about{
        max-width: 500px;
        gap: 0.5rem; /* smaller gap on mobile */

    }

    .about-card {
        height: 300px;
        width: 100%; 
    }
    
    .about-card img {
        width: 100%; /* full width image on mobile */
        height: 100%; /* maintain aspect ratio */

        padding: 0;
        margin: 0;
        object-fit: cover;
    }

}
