.intro{
    margin-bottom: 90px;
}


.intro-content {

    display: flex;       /* for image + text side by side */
    gap: 2rem;           /* optional spacing between columns */
    align-items: center; /* vertically align image + text */
    justify-content: center;
    padding-top: 11rem;    
}

.intro-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.about-card img {
    width: 100%; /* full width image on mobile */
    height: 100%; /* maintain aspect ratio */
    padding: 0;
    margin: 0;
    object-fit: cover;
}

.intro-text {
    text-align: center; 
    margin-bottom: 1rem;
}


.intro a{
    margin-top: 2rem;
    border: #333 solid 2px;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}



@media (max-width: 1024px) and (min-width: 601px) {
    .intro {
        display: flex;
        flex-direction: column; /* stack items vertically */

        
    }
    
    .intro-image img {
        width: 200px; /* smaller image on tablet */
        height: 200px;
    }

    .about {
        max-width: 600px; /* adjust width for tablet */
    }
}

@media (max-width: 600px) {

    .intro {
        /* display: flex; */
        align-items: center; 
        justify-content: center;
         
        width: 100%;
        margin-bottom: 2rem;
    }
    
    .intro-content{


        display:  flex;
        flex-wrap: wrap;
        align-items: center; 
        justify-content: center;
        text-align: center;

        gap: 1rem;
        padding-top: 12rem;    


    }
    
    .intro-text {
        text-align: center; /* center text on smaller screens */
        
    }

    .intro-text h1{
        font-size: 2rem; 
        /* smaller heading on mobile */
    }

    
    .intro-image img {
        width: 200px; /* smaller image on mobile */
        height: 200px;
    }

    .typing-text {
        /* font-size: px; */
        padding: 0 100px;
    }

}
