* {
  color: black;
  background-color: white;
  
  /* outline: 1px solid red !important; */

}

html {
  scroll-behavior: smooth;
}


/* better alignment when nav button clicked  */

section {
  scroll-margin-top: 50px; 
}