.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: white;
  color: white;
  border: none;
  padding: 12px 12px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  border: 3px black solid;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.back-to-top.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.back-to-top:hover {
    background: white;
    transform: scale(1.1);
    border: 3px grey solid;

}
